<div class="contenedor">
  <img src="assets/perfil.png" class="img-profile" alt="Logo">
  
  
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formulario">
    <div class="miCuenta-contenedor">

      <ion-toolbar>
        <ion-title class="ion-text-start">Estacionamiento</ion-title>
      </ion-toolbar>

      <ion-item>
        <ion-label position="stacked">Nombre del estacionamiento</ion-label>
        <ion-input type="text" placeholder="Estacionamiento" formControlName="estacionamiento"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input type="text" placeholder="Dirección" formControlName="direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input type="text" placeholder="Capacidad" formControlName="telefono"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Horario</ion-label>
        <ion-input type="text" placeholder="Horario" formControlName="horario"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Tarifa</ion-label>
        <ion-input type="text" placeholder="Tarifa" formControlName="tarifa"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Lugares Disponibles</ion-label>
        <ion-input type="text" placeholder="Capacidad" formControlName="lugaresdisponibles"></ion-input>
      </ion-item>
      
      

    </div>

    <ion-button fill="clear" type="submit" class="btn-guardar">Guardar Cambios</ion-button>

    <ion-button fill="clear" class="btn-cerrar" type="submit" (click)="logOut()">Cerrar Sesión</ion-button>
</form>