<div class="contenedor">
  <img src="assets/perfil.png" class="img-profile" alt="Logo">
  
  <ion-button expand="block" type="submit" (click)="logOut()">Cerrar sesión</ion-button>
  
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formulario">
    <div class="miCuenta-contenedor">

      <ion-toolbar>
        <ion-title class="ion-text-start">Estacionamiento</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      
      <ion-item>
        <ion-label>
          <h3>Estacionamiento</h3>
          <ion-input type="text" formControlName="estacionamiento"></ion-input>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h3>Dirección</h3>
          <ion-input type="text" formControlName="direccion"></ion-input>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h3>Teléfono</h3>
          <ion-input type="text" formControlName="telefono"></ion-input>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h3>Horario</h3>
          <ion-input type="text" formControlName="horario"></ion-input>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h3>Tarifa</h3>
          <ion-input type="text" formControlName="tarifa"></ion-input>
        </ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>
          <h3>Lugares disponibles</h3>
          <ion-input type="text" formControlName="lugaresdisponibles"></ion-input>
          <ion-button expand="block" type="submit">Guardar Cambios</ion-button>

        </ion-label>

      </ion-item>

    </div>

</form>
