<div class="contenedor">
  <img src="assets/perfil.png" class="img-profile" alt="Logo">
  
  
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formulario">
    <div class="miCuenta-contenedor">

      <ion-toolbar>
        <ion-title class="ion-text-start">Datos Personales</ion-title>
      </ion-toolbar>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" placeholder="Apellido" formControlName="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo Electronico</ion-label>
        <ion-input type="text" placeholder="Correo Electronico" formControlName="correo"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input type="text" placeholder="Telefono" formControlName="telefono"></ion-input>
      </ion-item>

    </div>

    <ion-button fill="clear" type="submit" class="btn-guardar">Guardar Cambios</ion-button>

</form>