
<div class="contenedor">
  <img src="assets/icon/logo.svg" alt="Logo" class="logoparky">
  
  <div class="miCuenta-contenedor">
    <ion-toolbar>
      <ion-title class="ion-text-start">Busco un estacionamiento</ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label>
        Completa tus datos
      </ion-label> 
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" placeholder="Ingrese su apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" placeholder="Ingrese su correo electrónico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input type="tel" placeholder="Ingrese su número de celular"></ion-input>
    </ion-item>


 

  </div>

  <ion-button fill="clear" class="btn-guardar">Guardar</ion-button>
</div>
