<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido aquí -->


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contenedor">

  <img src="assets/icon/logo.svg" alt="Logo" class="logoparky">
  <p class="fuente">Registrarse</p>


</div>

<div class="contenedor">
      <input class="input" type="email" placeholder="Correo electrónico">

      <input  class="input"  placeholder="Contraseña">


     <!-- <ion-button shape="round" size="large" color="tertiary">Iniciar sesion</ion-button>


-->
<img src="assets/icon/crearcuenta.svg" alt="Logo"  >


</div>



<hr class="lineaseparadora">





</ion-content>

