<ion-content [fullscreen]="true">

<!-- FLECHA ATRAS -->
  <ion-toolbar>
    <ion-buttons slot="start" size="large">
      <ion-button> 
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<!-- LOGO -->
  <div class="contenedor">
    <img src="assets/icon/logo.svg" alt="Logo" class="logoparky">  
  </div>

<!-- CONTENIDO -->

  <div class="contenedor">
    <img class="img-jirafa" src="assets/jirafaAuto.png" alt="auto">
  </div>

  <div class="contenedor">
    <p class="fuente">¿Qué tipo de usuario sos?</p>

    <ion-button fill="clear" (click)="registroBusca()" class="btn-user"> Estoy buscando estacionamiento</ion-button>
    <ion-button fill="clear" (click)="registroDuenio()" class="btn-user"> Soy dueño de un estacionamiento</ion-button>
  </div>

</ion-content>