<ion-content>

  <!-- FLECHA ATRAS -->
  <ion-toolbar>
    <ion-buttons class="back" slot="start" size="large">
      <ion-button (click)="VolverAtras()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- BUSCADOR -->
  <div class="search-container">
    <ion-searchbar
      showCancelButton="focus"
      class="custom"
      placeholder="ubicación"
      (ionInput)="filterList($event)"
    ></ion-searchbar>
  </div>
  <div class="ion-text-center">
    <ion-button class="ion-justify-content-center" fill="clear" (click)="obtenerdatos()"
      >Obtener todos los estacionamientos</ion-button>
      <ion-button class="ion-justify-content-center" fill="clear" (click)="borrar()"
      >Borrar todos los estacionamientos</ion-button>
  </div>


  <ion-list *ngIf="obtenerestacionamiento && !buscardatos">
    <ion-item *ngFor="let documento of documentos">
      <ion-label>
        <h2>{{ documento.nombre }}</h2>
        <p>Dirección: {{ documento.direccion }}</p>
        <p>Teléfono: {{ documento.telefono }}</p>
        <p>Horario: {{ documento.horario }}</p>
        <p>Click para mas datos (no implementado aun)</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="buscardatos">
    <ion-item *ngFor="let documento of filteredDocumentos">
      <ion-label>
        <h2>{{ documento.nombre }}</h2>
        <p>Dirección: {{ documento.direccion }}</p>
        <p>Teléfono: {{ documento.telefono }}</p>
        <p>Horario: {{ documento.horario }}</p>
        <p>Tarifa: {{ documento.tarifa }}</p>
        <p>Lugares disponibles: {{ documento.lugaresdisponibles }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>