<ion-content>


<div class="search-container" id="map" style="height: 400px;"></div>

<div class="ion-text-center">
<ion-button   class="ion-justify-content-center"(click)="obtenerdatos()">OBTENER TODOS LOS ESTACIONAMIENTOS</ion-button>
</div>

  <ion-list *ngIf="obtenerestacionamiento" >
    <ion-item *ngFor="let documento of documentos">
      <ion-label>
        <h2>{{ documento.estacionamiento }}</h2>
        <p>Dirección: {{ documento.direccion }}</p>
        <p>Teléfono: {{ documento.telefono }}</p>
        <p>Horario: {{ documento.horario }}</p>
        <p>Tarifa: {{ documento.tarifa }}</p>
        <p>Lugares disponibles: {{ documento.lugaresdisponibles }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>

<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
