ion-content {
  --background: linear-gradient(to bottom, #3F236A, #7C45D0
  ) !important;
}

.search-container {

    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    
}

/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
    --background: white;
    --color: black;
    --placeholder-color: black;
    --icon-color: black;
    --clear-button-color: black;

    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: black;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #fff;
  }

 // En SCSS
/* styles.scss o styles.css */
.fuentedos centrado {margin: auto;}
