<ion-content [fullscreen]="true">
  <!-- Contenido aquí -->

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contenedor">
    <img src="assets/icon/logo.svg" alt="Logo" class="logoparky" />
  </div>

  <div class="contenedor3">
    <p class="fuente">Recuperar contraseña</p>

    <p class="fuente2">
      Por favor, ingresá tu email. Recibirás un link para reestablecer tu
      contraseña.
    </p>

    <input
      [(ngModel)]="email"
      class="input"
      type="email"
      placeholder="Correo electrónico"
    />
    <img class="recover" (click)="recoverPassword()" src="assets/icon/enviar.svg" alt="Logo" />
    <br>
    <p class="fuente2 back" (click)="backToLogin()">Regresar al inicio</p>
  </div>
</ion-content>
