



.logoparky {width: 142px;
    height: 60px;
    margin-top: 87px !important;
    gap: 0px;
    opacity: 0px;
    
    }

    .fuente {
        //styleName: Subtitulos;
font-family: Roboto;
font-size: 20px;
font-weight: 600;
color: antiquewhite;
text-align: center; /* Centra el texto horizontalmente */
    }


    .fuente2 {
        /* Estilos específicos solo para el segundo elemento */
        font-size: 15px !important; /* Tamaño de fuente diferente */
        font-weight: 200 !important;
        color: antiquewhite;
margin-top: 15px;
margin-bottom: 15px;
text-align: center;
    }
      ion-content {
        --background: linear-gradient(to bottom, #3F236A, #7C45D0
        ) !important;
      }

      .input {
        width: 230px;
        height: 41px;
        border-radius: 3px;
        display: block !important;
        margin: auto;
        margin-top: 20px;

        }

        

        .contenedor3 { width: 284px;
            height: 350px;
            background-color: #3F236A;
            height: 350px;
            margin: auto;
            border: 1px 0px 0px 0px;
            opacity: 0px;
            border-radius: 5px;
            margin-top: 40px;
            padding-top: 50px; /* Ajusta según necesites */
            padding-bottom: 20px;            }

            
      img {margin: auto;
    display: block;
    margin-top: 25px;

}