<ion-content class="contenedor">
  <img src="assets/perfil.png" class="img-profile" alt="Logo">
  
  
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formulario">
    <div class="miCuenta-contenedor">

      <ion-toolbar>
        <ion-title class="ion-text-start">Estacionamiento</ion-title>
      </ion-toolbar>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input type="text" placeholder="Direccion" formControlName="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Horario</ion-label>
        <ion-input type="text" placeholder="Horario" formControlName="horario"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input type="text" placeholder="Telefono" formControlName="telefono"></ion-input>
      </ion-item>     
      

    </div>

  <ion-button fill="clear" class="btn-guardar" (click)="atras()" >Anterior</ion-button>
  <ion-button fill="clear" type="submit" class="btn-guardar">Guardar</ion-button>


</form>

</ion-content>


