<!-- MI CUENTA -->
<div class="contenedor">
  <img src="assets/icon/logo.svg" alt="Logo" class="logoparky">
  
  <div class="miCuenta-contenedor">
    <ion-toolbar>
      <ion-title class="ion-text-start">Estacionamiento</ion-title>
    </ion-toolbar>
    
    <ion-item>
      <ion-label position="stacked">Nombre del estacionamiento</ion-label>
      <ion-input type="text" placeholder="Estacionamiento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input type="text" placeholder="Dirección"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Horario</ion-label>
      <ion-input type="text" placeholder="Horario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tarifa</ion-label>
      <ion-input type="text" placeholder="Tarifa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Capacidad</ion-label>
      <ion-input type="text" placeholder="Capacidad"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Disponibilidad</ion-label>
      <ion-input type="text" placeholder="Disponibilidad"></ion-input>
    </ion-item>
  </div>

  <ion-button fill="clear" class="btn-guardar">Guardar</ion-button>
</div>





