<div class="contenedor">
  <img src="assets/perfil.png" class="img-profile" alt="Logo">
  
  
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formulario">
    <div class="miCuenta-contenedor">

      <ion-toolbar>
        <ion-title class="ion-text-start">Autos</ion-title>
      </ion-toolbar>

      <ion-item>
        <ion-label position="stacked">Cupo Total</ion-label>
        <ion-input type="text" placeholder="Cupo" formControlName="cupoTotal"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Disponibilidad</ion-label>
        <ion-input type="text" placeholder="Disponibilidad" formControlName="disponibilidad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tarifa por hora</ion-label>
        <ion-input type="text" placeholder="costo" formControlName="tarifaHora"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Tarifa por día </ion-label>
        <ion-input type="text" placeholder="costo" formControlName="tarifaDia"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Tarifa Mensual</ion-label>
        <ion-input type="text" placeholder="costo" formControlName="tarifaMes"></ion-input>
      </ion-item>     
      

    </div>

  <ion-button fill="clear" class="btn-guardar" (click)="atras()" >Anterior</ion-button>
  <ion-button fill="clear" type="submit" class="btn-guardar">Guardar</ion-button>


</form>




