.contenedor {
  width: 100%;
  text-align: center; /* Esto centra el contenido dentro del div */
}

.logoparky {
  width: 142px;
  height: 60px;
  margin-top: 87px !important;
  gap: 0px;
  opacity: 0px;
}

.fuente {
  //styleName: Subtitulos;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  color: antiquewhite;
}

.fuente2 {
  /* Estilos específicos solo para el segundo elemento */
  font-size: 15px !important; /* Tamaño de fuente diferente */
  font-weight: 200 !important;
  color: antiquewhite;
  margin-top: 15px;
  margin-bottom: 15px;
}

ion-content {
  --background: linear-gradient(to bottom, #3f236a, #7c45d0) !important;
}

.input {
  width: 298px;
  height: 41px;
  display: block !important;
  margin: auto;
  margin-top: 20px;
}

ion-button {
  display: block; /* Hace que el botón se muestre como un bloque */
  margin: auto;
  height: 38px;
  margin-top: 20px;
  opacity: 0px;
  width: 200px;
}

.lineaseparadora {
  width: 284px;
  height: 0px;
  color: antiquewhite;
  margin: auto;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #ffffff;
  margin-top: 15px;
}

img {
  margin: auto;
  display: block;
  margin-top: 25px;
}

.input {
  width: 300px;
  height: 41px;
  border-radius: 10px;
  display: block !important;
  margin: auto;
  margin-top: 20px;
  background: white;
  color: black;
  text-align: center;
}

.register:active {
  transform: scale(0.9);
}

.register,
.back {
  cursor: pointer;
  transition: transform 0.2s;
}

.back {
  padding: 10px;
  vertical-align: middle;
  margin: auto;
  width: fit-content;
  background-color: rgb(63, 35, 103);
  border-radius: 10px;
  border-bottom: 1px solid #000000;
}

.back:active {
  transform: scale(0.9);
}