<ion-content>
  <ion-header [translucent]="true"> </ion-header>

  <ion-content [fullscreen]="true">
    <!-- Contenido aquí -->

    <div class="contenedor">
      <img src="assets/icon/logo.svg" alt="Logo" class="logoparky" />
      <p class="fuente">Registrarse</p>
    </div>

    <div class="contenedor">
      <input
        [(ngModel)]="email"
        class="input"
        type="email"
        placeholder="Correo electrónico"
      />

      <input
        [(ngModel)]="password"
        class="input"
        placeholder="Contraseña"
        [type]="showPassword ? 'text' : 'password'"
      />

      <!-- <ion-button shape="round" size="large" color="tertiary">Iniciar sesion</ion-button>


-->
      <img class="register" src="assets/icon/crearcuenta.svg" alt="Logo" (click)="register()" />
    </div>

    <hr class="lineaseparadora" />
    <br>
    <div class="contenedor">
      <h4 class="fuente2 back" (click)="backToLogin()">Regresar al inicio</h4>
    </div>
  </ion-content>
</ion-content>
