
<div class="contenedor">
  <img src="assets/icon/logo.svg" alt="Logo" class="logoparky">
  
  <div class="miCuenta-contenedor">
    <ion-toolbar>
      <ion-title class="ion-text-start">Soy dueño/a de un estacionamiento</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-item>
      <ion-label>
        <h1>Completa tus datos</h1>
      </ion-label> 
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" placeholder="Ingrese su apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" placeholder="Ingrese su correo electrónico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input type="tel" placeholder="Ingrese su número de celular"></ion-input>
    </ion-item>


    <img class="imgsig" src="assets/icon/siguiente.png" alt="Logo">

  </div>
</div>




