//MI CUENTA

.miCuenta-contenedor {
    background: rgba(0, 0, 0, 0.5);
    margin: 20px;
    margin-top: 70px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.miCuenta-contenedor ion-toolbar, ion-item {
    --background: none;
}

.miCuenta-contenedor ion-item {
    padding-right: 15px;
}


