ion-content {
  --background: linear-gradient(to bottom, #3f236a, #7c45d0) !important;
}

.backBar {
  padding: 0;
  margin: auto;
  width: 98%;
  --background: linear-gradient(to bottom, #3f236a, rgb(63, 37, 112)) !important;
}

.back {
  width: fit-content;
  border-radius: 10px;
  background-color: #4b2b7c;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s;
  border-bottom: 3px solid #000000;
}

.back:active {
  transform: scale(0.9);
}

//MI CUENTA

.miCuenta-contenedor {
  background: rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.miCuenta-contenedor ion-toolbar,
ion-item {
  --background: none;
}

.miCuenta-contenedor ion-item {
  padding-right: 15px;
}

//IMAGEN PERFIL

.img-profile {
  width: 150px;
  height: 150px;
  margin-top: 45px !important;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 0px !important;
}

.contenedor {
  width: 100%;
  text-align: center; /* Esto centra el contenido dentro del div */
}
