ion-content {
    --background: linear-gradient(to bottom, #3F236A, #7C45D0
    ) !important;
  }

.miCuenta-contenedor {
    margin-top: 70px;
}

//POSICION IMG

.estacionamiento {
    margin: 20px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-estacionamiento {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 15px;
    padding-right: 0;

}

.info-estacionamiento {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Hace que este div ocupe el espacio restante */
  }
//BOTONES AUTO, BICI, MOTO

.acordeon {
    margin: 20px;
    
}

.transporte {
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.5);
}

.fondo-transporte {
    --background: none;
    --border-style: none;
}

ion-label {
    margin-left: 15px;
}

.margin {
    margin: 0%;
    width: fit-content;
    text-wrap: nowrap;
}
//img transporte

.img-transp{
    border-radius: 15px ;

}

ion-input {
    margin-left: 15px;
}

