<div class="contenedor">

  <div class="miCuenta-contenedor">
      <ion-title class="ion-text-center">Mi estacionamiento</ion-title>
  </div>


  <!-- ACORDEON AUTO, MOTO, BICI -->

  <ion-accordion-group class="acordeon">

    <!-- AUTO -->
    <ion-accordion class="transporte" value="first">
      <ion-item class="fondo-transporte" slot="header">
        <img class="img-transp" src="assets/auto.jpg" alt="">
        <ion-label>Autos</ion-label>
      </ion-item>

      <!-- DESPLEGABLE -->
      <div slot="content">
        <form [formGroup]="datosAutos" (ngSubmit)="onSubmit(datosAutos, 'Autos')" class="formulario">
          <div>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Cupo Total: </ion-label>
              <ion-input type="text" placeholder="Cupo" formControlName="cupo"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Disponibilidad: </ion-label>
              <ion-input type="text" placeholder="Disponible" formControlName="disponible"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa por hora: </ion-label>
              <ion-input type="text" placeholder="Tarifa por hora" formControlName="tarifaXHora"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa por día: </ion-label>
              <ion-input type="text" placeholder="Tarifa por dia" formControlName="tarifaXDia"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa mensual: </ion-label>
              <ion-input type="text" placeholder="Tarifa mensual" formControlName="tarifaXMes"></ion-input>
            </ion-item>
          </div>
          <ion-button fill="clear" type="submit" class="btn-guardar">Guardar</ion-button>
        </form>
      </div>
    </ion-accordion>

    <!-- MOTO -->
    <ion-accordion class="transporte" value="second">
      <ion-item class="fondo-transporte" slot="header">
        <img class="img-transp" src="assets/moto.jpg" alt="">
        <ion-label>Motos</ion-label>
      </ion-item>
      <!-- DESPLEGABLE -->
      <div slot="content">
        <form [formGroup]="datosMotos" (ngSubmit)="onSubmit(datosMotos, 'Motos')" class="formulario">
          <div>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Cupo Total: </ion-label>
              <ion-input type="text" placeholder="Cupo" formControlName="cupo"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Disponibilidad: </ion-label>
              <ion-input type="text" placeholder="Disponible" formControlName="disponible"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa por hora: </ion-label>
              <ion-input type="text" placeholder="Tarifa por hora" formControlName="tarifaXHora"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa por día: </ion-label>
              <ion-input type="text" placeholder="Tarifa por dia" formControlName="tarifaXDia"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa mensual: </ion-label>
              <ion-input type="text" placeholder="Tarifa mensual" formControlName="tarifaXMes"></ion-input>
            </ion-item>
          </div>
          <ion-button fill="clear" type="submit" class="btn-guardar">Guardar</ion-button>
        </form>
      </div>
    </ion-accordion>

    <!-- BICI -->
    <ion-accordion class="transporte" value="third">
      <ion-item class="fondo-transporte" slot="header">
        <img class="img-transp" src="assets/bici.jpg" alt="">
        <ion-label>Bicicletas</ion-label>
      </ion-item>
      
      <!-- DESPLEGABLE -->
      <div slot="content">
        <form [formGroup]="datosBicis" (ngSubmit)="onSubmit(datosBicis, 'Bicis')" class="formulario">
          <div>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Cupo Total: </ion-label>
              <ion-input type="text" placeholder="Cupo" formControlName="cupo"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Disponibilidad: </ion-label>
              <ion-input type="text" placeholder="Disponible" formControlName="disponible"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa por hora: </ion-label>
              <ion-input type="text" placeholder="Tarifa por hora" formControlName="tarifaXHora"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa por día: </ion-label>
              <ion-input type="text" placeholder="Tarifa por dia" formControlName="tarifaXDia"></ion-input>
            </ion-item>
            <ion-item class="fondo-transporte">
              <ion-label class="margin">Tarifa mensual: </ion-label>
              <ion-input type="text" placeholder="Tarifa mensual" formControlName="tarifaXMes"></ion-input>
            </ion-item>
          </div>
          <ion-button fill="clear" type="submit" class="btn-guardar">Guardar</ion-button>
        </form>
      </div>      
    </ion-accordion>
  </ion-accordion-group>    

   <!-- INFO ESTACIONAMIENTO -->
   <div class="estacionamiento">
    <img src="assets/img-estacion.jpg" class="img-estacionamiento" alt="">
    <div class="info-estacionamiento">
      <form [formGroup]="datosEstacionamiento" (ngSubmit)="onSubmit(datosEstacionamiento, 'Estacionamientos')" class="formulario">
        <div>
          <ion-item class="fondo-transporte">
            <ion-label class="margin">Nombre: </ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item class="fondo-transporte">
            <ion-label class="margin">Dirección: </ion-label>
            <ion-input type="text" formControlName="direccion"></ion-input>
          </ion-item>
          <ion-item class="fondo-transporte">
            <ion-label class="margin">Horario: </ion-label>
            <ion-input type="text" formControlName="horario"></ion-input>
          </ion-item>
          <ion-item class="fondo-transporte">
            <ion-label class="margin">Telefono: </ion-label>
            <ion-input type="text" formControlName="telefono"></ion-input>
          </ion-item>
        </div>
        <ion-button fill="clear" type="submit" class="btn-guardar">Guardar</ion-button>
      </form>
    </div>


  </div>


</div>
