.miCuenta-contenedor {
    margin-top: 90px;
}

//POSICION IMG

.img-estacionamiento {
    margin-top: 30px;
    width: 100%;
    height: 30%;
}

//BOTONES AUTO, BICI, MOTO

ion-list {
    background-color: none;
}
.lista {
    background: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 10px;
    padding-bottom: 20px;    
}

//img transporte

.img-transp{
    border-radius: 15px ;

}