<div class="contenedor">

  <div class="miCuenta-contenedor">
      <ion-title class="ion-text-center">Mi estacionamiento</ion-title>
  </div>


  <!-- ACORDEON AUTO, MOTO, BICI -->

  <ion-accordion-group class="acordeon">

    <!-- AUTO -->
    <ion-accordion class="transporte" value="first">
      <ion-item class="fondo-transporte" slot="header">
        <img class="img-transp" src="assets/auto.jpg" alt="">
        <ion-label>Autos</ion-label>
      </ion-item>

      <!-- DESPLEGABLE -->
      <div slot="content">
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Cupo Total: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Disponibilidad: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa por hora: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa por día - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa mensual: - </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

    <!-- MOTO -->
    <ion-accordion class="transporte" value="second">
      <ion-item class="fondo-transporte" slot="header">
        <img class="img-transp" src="assets/moto.jpg" alt="">
        <ion-label>Motos</ion-label>
      </ion-item>
      <!-- DESPLEGABLE -->
      <div slot="content">
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Cupo Total: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Disponibilidad: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa por hora: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa por día - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa mensual: - </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

    <!-- BICI -->
    <ion-accordion class="transporte" value="third">
      <ion-item class="fondo-transporte" slot="header">
        <img class="img-transp" src="assets/bici.jpg" alt="">
        <ion-label>Bicicletas</ion-label>
      </ion-item>
      
      <!-- DESPLEGABLE -->
      <div slot="content">
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Cupo Total: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Disponibilidad: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa por hora: - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa por día - </ion-label>
        </ion-item>
        <ion-item class="fondo-transporte">
          <ion-label class="margin">Tarifa mensual: - </ion-label>
        </ion-item>
      </div>      
    </ion-accordion>
  </ion-accordion-group>    

   <!-- INFO ESTACIONAMIENTO -->
   <div class="estacionamiento">
    <img src="assets/img-estacion.jpg" class="img-estacionamiento" alt="">
    <div class="info-estacionamiento">
      <ion-item class="fondo-transporte">
        <ion-label class="margin">Estacionamiento: - </ion-label>
      </ion-item>
      <ion-item class="fondo-transporte">
        <ion-label class="margin">Dirección: - </ion-label>
      </ion-item>
      <ion-item class="fondo-transporte">
        <ion-label class="margin">Horario: - </ion-label>
      </ion-item>
    </div>


  </div>


</div>
