<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start" size="large">
      <ion-button (click)="volverAtras()"> 
        <ion-icon name="arrow-back-outline"  size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <div class="ion-page" id="main-content">
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
    </div> -->

  </ion-toolbar>


<!-- MENU -->
<!-- <ion-menu side="end" contentId="main-content">
  <ion-content class="menu" >
    <div class="avatar">      
      <ion-toolbar >
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>

      </ion-toolbar>
    </div>


    <ion-list class="lista">
         <!-- <ion-item [button]="true" (click)="backToHome()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label class="item-menu">Inicio</ion-label>
      </ion-item> -->
      <!-- MI CUENTA -->
      <!-- <ion-item [button]="true" (click)="miCuenta()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label class="item-menu" >Mi cuenta</ion-label>
      </ion-item> -->
      <!-- AYUDA -->
      <!-- <ion-item [button]="true">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label class="item-menu">Ayuda</ion-label>
      </ion-item> -->
      <!-- PREGUNTAS FRECUENTES -->
      <!-- <ion-item [button]="true">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label class="item-menu">Preguntas Frecuentes</ion-label>
      </ion-item> -->
      <!-- CAMBIO DE USUARIO -->
      <!-- <ion-item [button]="true" (click)="cambioUsuario()">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label class="item-menu">Cambiar de usuario</ion-label>
      </ion-item> -->
      <!-- CERRAR SESION -->
      <!-- <ion-item [button]="true" (click)="logout()">
        <ion-icon name="exit-outline" ></ion-icon>
        <ion-label class="item-menu">Cerrar Sesión</ion-label>
      </ion-item> -->

    <!-- </ion-list> -->
  
  <!-- </ion-content> -->
<!-- </ion-menu> -->



<!-- NAV-BAR -->
  <ion-tabs *ngIf="!auth.getTabNuevo()">
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button  href="/user" (click)="backToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="tab5" href="/tabs/tab2" (click)="miCuenta()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="tab11" href="/tabs/tab11">
        <ion-icon name="mail-outline"></ion-icon>
            </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>

  <ion-tabs *ngIf="auth.getTabNuevo()">
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" href="/tabs/tab1" >
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="tab8" href="/tabs/tab8" >
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="tab11" href="/tabs/tab11">
        <ion-icon name="mail-outline"></ion-icon>
            </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>


</ion-content>


